<main class="product-container-home">
  {{#each products}}
    <div class="card-container">
      <figure>
        <img src={{this.thumbnails}} alt="" />
      </figure>
      <div class="card-body-contianer">
        <div>
          <span><small>{{this.title}}</small></span>
          <span>$ <small>{{this.price}}</small></span>
        </div>
        <a href="/realtimeproducts">Ver Detalle</a>
      </div>

    </div>
  {{/each}}
</main>